:root {
  --docs-max-height: 400px;
}

body {
  position: relative;
}

#toggle-docs {
  opacity: .5;
  z-index: 2;
  border: 0;
  font-size: x-small;
  position: fixed;
  transform: rotate(90deg);
  transform-origin: top left;
  top: 30px;
  left: 26px;
  padding: 0.7rem 0.5rem 0.2rem 0.5rem;
  margin: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  
  &:hover{
    opacity: 1;
    transition: all .2s;
  }
}

@media screen and (min-width: 1400px) {
  #toggle-docs.on {
    z-index: 3;
    transform: none;
    top: 5px;
    left: 5px;
    font-size: 24px;
    background-color: rgba(127, 127, 127, 0.3);
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
  }
}

xo-docs:not(.show) {
  display: none;
}

xo-docs.show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  overflow: auto;
  
  background-color: #f6f6f6;
}

html.theme-dark {
  xo-docs.show {
    background-color: #242424;
  }
}

@media screen and (max-width: 1400px) {
  xo-docs.show {
    position: relative;
    overflow-y: auto;
    --docs-max-height: 500px;
    max-height: 500px;
    border: 1px solid var(--xo-input-border-color);
    max-width: 700px;
    width: auto;
    margin: auto;
    display: block;
  }
}

@media screen and (min-width: 1401px) {
  :root {
    --docs-max-height: 100vh;
  }

  xo-docs.show {
    width: calc(50vw - 400px) !important;
    height: 100%;
  }
}
