::-webkit-scrollbar {
    width: 7px;
    height: 7px;

    &-button {
        width: 33px;
        height: 33px;
    }
    &-thumb {
        background: rgba(0, 0, 0, 0.2);
        //border: 51px none #bf3131;
        border-radius: 10rem;
    }
    &-thumb:hover {
        background: rgba(255, 255, 255, 0.3);
    }
    &-thumb:active {
        background: rgba(255, 255, 255, 0.6);
    }
    &-track {
        background: rgba(0, 0, 0, 0.2);
        border: 22px none rgba(255, 255, 255, 0.6);
        border-radius: 50px;
    }
    &-track:hover {
        background: rgba(0, 0, 0, 0.2);
    }
    &-track:active {
        background: rgba(0, 0, 0, 0.2);
    }
    &-corner {
        background: transparent;
    }
}